@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.6;
  background: #3c3b3f;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0px 60px 0px;
  color: #e6ddd6;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  border-radius: 30px;
  color: #333;
  outline: none;
}
#search-button {
  padding: 10px 20px;
  background-color: #a59e98;
  color: #000000;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  border-radius: 30px;
  transition: 0.5s;
}
#search-button:hover {
  background: transparent;
  color: #000000;
  background: #eed8bc;
}

.search-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.search-result {
  margin-bottom: 60px;
  width: 30%;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #a59e98;
}
.search-result img {
  width: 100%;
  height: 66%;
  object-fit: cover;

  transition: opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.search-result:hover img {
  opacity: 0.8;
  transform: scale(1.05);
}
.search-result a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 10px;
  text-transform: capitalize;
  display: block;
  text-align: center;
  transition: 0.3s ease-in;
  /* transition: background-color 0.3s ease-in-out; */
}
.search-result a:hover {
  text-decoration: underline;
  font-weight: 600;
}
/* .search-result:hover a {
  background-color: rgba(0, 0, 0, 0.1);
} */
#show-more-button {
  background-color: #a59e98;
  border: none;
  font-size: 18px;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
#show-more-button:hover {
  background: transparent;
  color: #000000;
  background: #eed8bc;
}
@media screen and (max-width: 765px) {
  .search-results {
    padding: 20px;
  }
  .search-result {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }
  form {
    flex-direction: column;
  }
  #search-input {
    margin-bottom: 20px;
    width: 80%;
  }
}
